<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="app.css">

    <title>Find the Next GME</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand">FIND THE NEXT GME</a>
        <button class="btn btn-outline-warning" type="button" data-bs-toggle="collapse" data-bs-target="#ranking"
            aria-expanded="false" aria-controls="ranking">See Daily Ranking Change</button>
    </nav>

    <div class="collapse" id="ranking">
        <% rankingChanges.forEach(function(rankingChange){ %>
            <div class="item">
                <span>
                    <%= rankingChange.ticker %>
                </span>
                <% if (rankingChange.newOccur==undefined || rankingChange.newOccur==true) {%>
                    <img src="/assets/newTag.png">
                    <% } else {%>
                        <% if (rankingChange.change < 0) { %>
                            <img src="/assets/downArrow.png">
                            <span class="position">
                                <%= Math.abs(rankingChange.change) %>
                            </span>
                            <% } else if (rankingChange.change==0) { %>
                                <span class="nochange"> no change </span>
                                <% } else {%>
                                    <img src="/assets/downArrow.png">
                                    <span class="position">
                                        <%= Math.abs(rankingChange.change) %>
                                    </span>
                                    <% } %>
                                        <% } %>
            </div>
            <% }) %>
    </div>

    <section class="container-fluid">
        <div class="row">
            <div class="col-3">
                <span id="visitor">Welcome! You are the <%=visitorCount %> th visitor! </span>
            </div>
            <div class="col-3">
                <div class="container" id="No7">
                    <p class="top"> Top 7 </p>
                    <p class="ticker">
                        Ticker: <%=stock6%>
                    </p>
                    <p>
                        Full name: <%=name6%>
                    </p>
                    <P> Industry: <%=industry6%>
                    </P>
                    <p>
                        <%=stock6%> was mentioned <%=count6%> times in the top 500 hot topics in r/wallstreetbets!
                    </p>
                    <P>Previous day closing price: $<%=previousClose6%>
                    </P>
                    <P>50-day average price: $<%= Math.round(fiftyDayAverage6*100)/100%>
                    </P>
                    <P>10-day average daily volume: <%=averageDailyVolume10Day6.toString().replace(
                            /\B(?=(\d{3})+(?!\d))/g, "," )%> shares
                    </P>
                </div>
            </div>
            <div class="col-3">
                <div class="container" id="No8">
                    <p class="top"> Top 8 </p>
                    <p class="ticker">
                        Ticker: <%=stock7%>
                    </p>
                    <p>
                        Full name: <%=name7%>
                    </p>
                    <P> Industry: <%=industry7%>
                    </P>
                    <p>
                        <%=stock7%> was mentioned <%=count7%> times in the top 500 hot topics in r/wallstreetbets!
                    </p>
                    <P>Previous day closing price: $<%=previousClose7%>
                    </P>
                    <P>50-day average price: $<%= Math.round(fiftyDayAverage7*100)/100%>
                    </P>
                    <P>10-day average daily volume: <%=averageDailyVolume10Day7.toString().replace(
                            /\B(?=(\d{3})+(?!\d))/g, "," )%> shares
                    </P>
                </div>
            </div>
            <div class="col-3">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <div class="container" id="No2">
                    <p class="top"> Top 2 </p>
                    <p class="ticker">
                        Ticker: <%=stock1%>
                    </p>
                    <p>
                        Full name: <%=name1%>
                    </p>
                    <P> Industry: <%=industry1%>
                    </P>
                    <p>
                        <%=stock1%> was mentioned <%=count1%> times in the top 500 hot topics in r/wallstreetbets!
                    </p>
                    <P>Previous day closing price: $<%=previousClose1%>
                    </P>
                    <P>50-day average price: $<%= Math.round(fiftyDayAverage1*100)/100%>
                    </P>
                    <P>10-day average daily volume: <%=averageDailyVolume10Day1.toString().replace(
                            /\B(?=(\d{3})+(?!\d))/g, "," )%> shares
                    </P>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col">
                <div class="container" id="No3">
                    <p class="top"> Top 3 </p>
                    <p class="ticker">
                        Ticker: <%=stock2%>
                    </p>
                    <p>
                        Full name: <%=name2%>
                    </p>
                    <P> Industry: <%=industry2%>
                    </P>
                    <p>
                        <%=stock2%> was mentioned <%=count2%> times in the top 500 hot topics in r/wallstreetbets!
                    </p>
                    <P>Previous day closing price: $<%=previousClose2%>
                    </P>
                    <P>50-day average price: $<%= Math.round(fiftyDayAverage2*100)/100%>
                    </P>
                    <P>10-day average daily volume: <%=averageDailyVolume10Day2.toString().replace(
                            /\B(?=(\d{3})+(?!\d))/g, "," )%> shares
                    </P>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <div class="container" id="No6">
                    <p class="top"> Top 6 </p>
                    <p class="ticker">
                        Ticker: <%=stock5%>
                    </p>
                    <p>
                        Full name: <%=name5%>
                    </p>
                    <P> Industry: <%=industry5%>
                    </P>
                    <p>
                        <%=stock5%> was mentioned <%=count5%> times in the top 500 hot topics in r/wallstreetbets!
                    </p>
                    <P>Previous day closing price: $<%=previousClose5%>
                    </P>
                    <P>50-day average price: $<%= Math.round(fiftyDayAverage5*100)/100%>
                    </P>
                    <P>10-day average daily volume: <%=averageDailyVolume10Day5.toString().replace(
                            /\B(?=(\d{3})+(?!\d))/g, "," )%> shares
                    </P>
                </div>
            </div>
            <div class="col">
                <div class="container" id="No1">
                    <p class="top"> Top 1 </p>
                    <p class="ticker">
                        Ticker: <%=stock0%>
                    </p>
                    <p>
                        Full name: <%=name0%>
                    </p>
                    <P> Industry: <%=industry0%>
                    </P>
                    <p>
                        <%=stock0%> was mentioned <%=count0%> times in the top 500 hot topics in r/wallstreetbets!
                    </p>
                    <P>Previous day closing price: $<%=previousClose0%>
                    </P>
                    <P>50-day average price: $<%= Math.round(fiftyDayAverage0*100)/100%>
                    </P>
                    <P>10-day average daily volume: <%=averageDailyVolume10Day0.toString().replace(
                            /\B(?=(\d{3})+(?!\d))/g, "," )%> shares
                    </P>
                </div>
            </div>
            <div class="col">
                <div class="container" id="No9">
                    <p class="top"> Top 9 </p>
                    <p class="ticker">
                        Ticker: <%=stock8%>
                    </p>
                    <p>
                        Full name: <%=name8%>
                    </p>
                    <P> Industry: <%=industry8%>
                    </P>
                    <p>
                        <%=stock8%> was mentioned <%=count8%> times in the top 500 hot topics in r/wallstreetbets!
                    </p>
                    <P>Previous day closing price: $<%=previousClose8%>
                    </P>
                    <P>50-day average price: $<%= Math.round(fiftyDayAverage8*100)/100%>
                    </P>
                    <P>10-day average daily volume: <%=averageDailyVolume10Day8.toString().replace(
                            /\B(?=(\d{3})+(?!\d))/g, "," )%> shares
                    </P>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <div class="container" id="No5">
                    <p class="top"> Top 5 </p>
                    <p class="ticker">
                        Ticker: <%=stock4%>
                    </p>
                    <p>
                        Full name: <%=name4%>
                    </p>
                    <P> Industry: <%=industry4%>
                    </P>
                    <p>
                        <%=stock4%> was mentioned <%=count4%> times in the top 500 hot topics in r/wallstreetbets!
                    </p>
                    <P>Previous day closing price: $<%=previousClose4%>
                    </P>
                    <P>50-day average price: $<%= Math.round(fiftyDayAverage4*100)/100%>
                    </P>
                    <P>10-day average daily volume: <%=averageDailyVolume10Day4.toString().replace(
                            /\B(?=(\d{3})+(?!\d))/g, "," )%> shares
                    </P>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col">
                <div class="container" id="No4">
                    <p class="top"> Top 4 </p>
                    <p class="ticker">
                        Ticker: <%=stock3%>
                    </p>
                    <p>
                        Full name: <%=name3%>
                    </p>
                    <P> Industry: <%=industry3%>
                    </P>
                    <p>
                        <%=stock3%> was mentioned <%=count3%> times in the top 500 hot topics in r/wallstreetbets!
                    </p>
                    <P>Previous day closing price: $<%=previousClose3%>
                    </P>
                    <P>50-day average price: $<%= Math.round(fiftyDayAverage3*100)/100%>
                    </P>
                    <P>10-day average daily volume: <%=averageDailyVolume10Day3.toString().replace(
                            /\B(?=(\d{3})+(?!\d))/g, "," )%> shares
                    </P>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <div class="container" id="No10">
                    <p class="top"> Top 10 </p>
                    <p class="ticker">
                        Ticker: <%=stock9%>
                    </p>
                    <p>
                        Full name: <%=name9%>
                    </p>
                    <P> Industry: <%=industry9%>
                    </P>
                    <p>
                        <%=stock9%> was mentioned <%=count9%> times in the top 500 hot topics in r/wallstreetbets!
                    </p>
                    <P>Previous day closing price: $<%=previousClose9%>
                    </P>
                    <P>50-day average price: $<%= Math.round(fiftyDayAverage9*100)/100%>
                    </P>
                    <P>10-day average daily volume: <%=averageDailyVolume10Day9.toString().replace(
                            /\B(?=(\d{3})+(?!\d))/g, "," )%> shares
                    </P>
                </div>
            </div>
        </div>


    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>